<div class="container">
  <div class="title-show-page">
    <h1 class='text-center'><%= @flat.name %></h1>
    <div class="title-links">
      <li><i class="fa fa-light fa-pen"></i><%= link_to 'Edit the flat', edit_flat_path %></li>
      <li><i class="fa fa-thin fa-trash"></i><%= link_to 'Delete the flat', flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
    </div>
  </div>



  <%= link_to 'All flats', flats_path %>
  <ul>
    <% if current_user == @flat.user %>

    <% else %>
      <%= link_to 'Book the flat',  new_flat_booking_path(@flat)  %>
    <% end %>
  </ul>
  <p><%= @flat.user.username %></p>
<i class="fa fa-light fa-pen-nib"></i>
  <h3><%= @flat.description %></h3>
  <% @flat.photos.each do |photo|%>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h3><%= @flat.address %></h3>
  <h3><%= @flat.price %></h3>
</div>
