<h1><%= @flat.name %></h1>
<%= link_to 'All flats', flats_path %>
<% if current_user == @flat.user %>
  <%= link_to 'Edit the flat', edit_flat_path %>
  <%= link_to 'Delete the flat', flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% else %>
  <%= link_to 'Book the flat',  new_flat_booking_path(@flat)  %>
<% end %>

<h3><%= @flat.description %></h3>
<% @flat.photos.each do |photo|%>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h3><%= @flat.address %></h3>
<h3><%= @flat.price %></h3>
<p><%= @flat.user.username %></p>
