<div class="container">
  <div class="title-show-page">
    <h1 class='text-center'><%= @flat.name %></h1>
    <% if current_user == @flat.user %>
      <div class="title-links">
      <ul>
        <li>
          <%= link_to edit_flat_path do %>
            <i class="fa fa-light fa-pen"></i>
          <% end %>
        </li>
        <li>
          <%= link_to flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa fa-thin fa-trash"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
    <%= link_to flats_path do %>
    <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  <ul>
    <% if current_user != @flat.user %>
      <%= link_to 'Book the flat',  new_flat_booking_path(@flat)  %>
    <% end %>
  </ul>
  <p><%= @flat.user.username %></p>
  <h3><%= @flat.description %></h3>
  <% @flat.photos.each do |photo|%>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h3><%= @flat.address %></h3>
  <h3><%= @flat.price %></h3>
  <div class="reviews">
    <%= link_to 'Add a comment', new_flat_review_path(@flat), class:'btn btn-primary' %>
    <ul>
      <% @reviews.each do |review| %>
        <li><%= review.content %>. Rate: <%= review.rating %> by: <%= review.user %></li>
      <% end %>
    </ul>
  </div>
</div>
